
body {
    background-image: url(./Media/IMG/47949.jpg);
    color: white;
}

.container {
    background-color: #315c18;
    height: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Tangerine', cursive;    
    font-size: 5em;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Tangerine', cursive;    
}

h3 {
    text-align: center;
    color: #bc986a;
    font-family: 'Tangerine', cursive;
}
.navbar{
    background-color: #54274f;
    border-color: #54274f;
    margin-top: 15px;
    
}

li a {
    font-size: 2em;
    font-family: 'Tangerine', cursive;    
    color: #eb83c1;
}

.carousel-inner img {
  margin: auto;
  width: 50%;
}

.imp {
    text-decoration: underline;
}

#Fit1 {
/*    float: left;*/
    width: 30%;
    margin: 0px 25px;
}
#Fit2 {
/*    float: right;*/
    width: 30%;
    margin: 0px 25px;
}
#Fit3 {
    float: left;
    width: 25%;
    margin: 5px;
}
#Fit4 {
    margin: 25px 36%;
}
#Fit5 {
    float: right;
    width: 25%;
    margin: 5px;
}
p {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.dress-long {
    width: 17%;
    padding: 5px;
    float: right;
}
.dress-wide{
    width: 51%;
    padding: 5px;
    float: right;
}

@media only screen and (max-width: 700px) {
  #Fit4 {
      margin: 25px 15%;
  }
}

