body {
    background-image: url(./Media/IMG/floral-1382723_1280.jpg);    
}

.container {
    background-color: #8d8741;
    height: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #bc986a;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 5em;
}

h2 {
    text-align: center;
    color: #bc986a;
    font-family: 'Monsieur La Doulaise', cursive;
    
}

h3 {
    text-align: center;
    color: #bc986a;
    font-family: 'Monsieur La Doulaise', cursive; 
}
.navbar{
    background-color: #ECEC0A;
    border-color: #ECEC0A;
    margin-top: 15px;
    
}

li a {
    font-size: 2em;
     font-family: 'Monsieur La Doulaise', cursive;
    color: #000000;
}

.carousel-inner img {
  margin: auto;
  width: 50%;
}

.imp {
    text-decoration: underline;
}


